<p class="admin-update-item-p">For everyone person
				who stumbles across your message and "hearts" it, you will see more messages
				with more hearts. Giving out higher quality messages is rewarded.
				Also, we heart every message we allow into our database!
				</p>
				
				<br>
				<p class="admin-update-item-p">This app is about unconditional love/good-will. There is 
				system in place to reward good effort but you wont see any sort of rank 
				or how many hearts your messages receive.</P>
				<br>
				<p class="admin-update-item-p">We are working to make this as safe a space as possible.
				Racism, sexual harassment, hate speech, bullying, etc are not tolerated.
				We have message moderation, a filtering system and a banning procedure. 
				However, it is still possible that you will receive a message that 
				makes you feel uncomfortable.</P>
				<br>
				<p class="admin-update-item-p">We do not recommend this app to people
				who are having suicidal thoughts or are severely / moderately
				depressed. This app is not a replacement for professional support.
				</P>
				